
$black: #212121;


body{
  background-color: #E6E6E6;
}
body,p,a,span, li, ul, svg{
  padding: 0;
  margin: 0;
  text-decoration: none;
  text-transform: none;
}
main{
  max-width: 1120px;
  margin: 0 auto;

}
header{
  background: $black;
  border-radius: 4px;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

header > div{
  display: flex;
}

header .group-name{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #E6E6E6;
}

.field{
  width: 100%;
  transition: 0.2s;
}

.field.with-context{
  width: 400px;
}

header .user-name{
  margin-right: 55px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-decoration-line: underline;

  color: #E6E6E6;
}

section.password-list-field{
  width: 100%;
  background-color: white;
  padding: 30px 25px;
  border-radius: 4px;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 25px;
  column-gap: 20px;
}

.with-context section.password-list-field{
  grid-template-columns: 1fr;
}

section.password-list-field .password p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;

  display: flex;

  color: #000000;
}

section.password-list-field .password p .big-word{
  background: #FA6F6F;
  border-radius: 4px;

  box-sizing: border-box;
  width: 34px;
  height: 34px;

  text-align: center;
  text-transform: uppercase;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  /* or 33px */

  display: flex;
  justify-content: center;
  margin-right: 8px;

  color: #FFFFFF;
}
section.password-list-field .password p .text{
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -o-pre-wrap; /* Opera */
  white-space: pre-wrap; /* Chrome */
  word-wrap: break-word; /* IE */

  white-space: nowrap;
  max-width: 300px;

  transition: 0.2s;

  overflow: hidden;
  text-overflow: ellipsis;
}
section.password-list-field .password{
  position: relative;
}

section.password-list-field .password.hovered p .text{
  max-width: 220px;
}
section.password-list-field .password .icons{
  display: flex;
  column-gap: 10px;
  position: absolute;
  right: 0;
  opacity: 0;
  transition: 0.3s;
}
section.password-list-field .password.hovered .icons{
  opacity: 1;
}
section.password-list-field .password .icons > .icon{
  background-color: #E0E0E0;
  border-radius: 4px;
  width: 28px;
  height: 28px;
  display: flex;
  cursor: pointer;
}
section.password-list-field .password .icons > .icon > svg{
  margin: auto;
}
.search-line{
  width: 100%;
  box-sizing: border-box;
  padding: 15px 25px;
  border-radius: 4px;
  background-color: white;
  margin-bottom: 20px;
  display: flex;
}
.search-line svg{
  margin-right: 20px;
}
.search-line input{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  width: 100%;
  line-height: 18px;
  border: none;
  outline: none;
}
